.cov{
    display: flex;
    justify-content: space-between;
}

.bee{
    z-index: 1000;
}

.animated{
    animation: movee 19s linear infinite forwards;
    font-weight: 400;
}

@keyframes movee {
    0%{
        transform: translate(1300px);
    }
    100%{
        transform: translate(-650px);
    }
}

.viju h1{
    font-size: 15px;
}

.nbac{
    background-color: #1D1D1D;
}

.nbac span:hover{
    color: rgb(0, 178, 0);
}

.nbacc span{
    font-size: 16px;
    font-weight: 700;
    color: white;
}

.tes{
    margin-left: 100px;
    padding-left: 110px;
}

/* carousel */
.watch{
    width: 676px;
    height: 280px;
    zoom: 1.9;
}

/* 1st body */
.first-parent p{
    font-size: 16px;
    font-weight: 400;
    color: #111111;
}

.first-parentt{
    display: flex;
    justify-content: space-between;
}

.first-parentt p{
    padding: 30px 0px 0px 50px;
    font-size: 30px;
    font-weight: 400;
    color: #FFFFFF;
}

.first-parentt a{
    text-decoration: none;
}

.f-boxx{
    background-image: url(images/930-490.jpg);
    background-position: center;
    zoom: 65%;
    height: 450px;
    width: 885px;
    border-radius: 13px;
}

.f-boxxx{
    background-image: url(images/VCG211288602089.png);
    background-position: center;
    zoom: 65%;
    height: 450px;
    width: 885px;
    border-radius: 13px;
}

.f-boxs{
    background-image: url(images/ad-power.jpg);
    background-position: center;
    zoom: 65%;
    height: 450px;
    width: 885px;
    border-radius: 13px;
}

.f-boxss{
    background-image: url(images/20231127-105044.jpg);
    background-position: center;
    zoom: 65%;
    height: 450px;
    width: 885px;
    border-radius: 13px;
}

/* 2nd body */
.second-body h3{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #111111;
    overflow-y: hidden;
}

.imgg h5{
    font-size: 17px;
    font-weight: 700;
    color: #111111;
}

.imgg p{
    font-size: 12px;
    font-weight: 400;
    color: #000000;
}

.imgg span{
    font-size: 14px;
    font-weight: 700;
}

.imgg h6{
    font-size: 18px;
    font-weight: 700;
}

.imggs{
    background-color: #F8F8F8;
}

.cards-wrapper{
    display: flex;
    gap: 25px;
}

.image-wrapper{
    height: 16vw;
    margin: 0 auto;
}

.image-wrapper img{
    max-width: 100%;
    max-height: 100%;
}

.pill{
    border: 2px solid red;
    border-radius: 100px;
    padding: 10px;
}

/* 3rd body */
.awards img{
    height: 370px; 
    width: 100%;
}

/* 4th body */
.fourth-body h4{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #111111;
    overflow-y: hidden;
}

.fourth-group{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cardgrid{
    width: 18rem;
}

.insid{
    display: flex;
    gap: 30px;
}

.insid p{
    text-decoration: line-through;
    color: rgb(150, 150, 150);
    margin-top: 5px;
}

.addcart{
    display: none;
}

.learn{
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    color: #494848;
    font-size: 14px;
}

.addto{
    padding: 11px;
    border: 1px solid black;
    background-color: black;
    border-radius: 20px;
    color: white;
    font-size: 14px;
}

.imgg a{
    text-decoration: none;
}

.imgss{
    /* border: 2px solid red; */
    border-radius: 5px;
    background-color: #F8F8F8;
}

/* 5th body */
.fifth-body img{
    width: 100%;
    height: 400px;
}

/* 6th body */
.sixth{
    background-color: #F5F6F6;
}

.sixth h5{
    padding-top: 45px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.sixth-body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.sixth-parent p{
    padding: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.woman{
    background-image: url(images/cs-women-s.png);
    width: 400px;
    background-size: contain;
    zoom: 100%;
    height: 460px;
}

.calcare{
    background-image: url(images/cart-care-s.png);
    width: 400px;
    zoom: 100%;
    background-size: contain;
    height: 200px;
}

.year{
    background-image: url(images/1-year-warranty-s.png);
    width: 380px;
    zoom: 100%;
    background-size: contain;
    height: 220px;
}

.free{
    background-image: url(images/free-shipping-s.png);
    width: 380px;
    zoom: 100%;
    background-size: contain;
    height: 220px;
}

.coin{
    background-image: url(images/point-s.png);
    width: 380px;
    zoom: 100%;
    background-size: contain;
    height: 220px;
}

.authen{
    background-image: url(images/authenticity-&-best-price-s.png);
    width: 340px;
    zoom: 100%;
    background-size: contain;
    height: 200px;
}

.club{
    background-image: url(images/o-club-ng-l.webp);
    width: 400px;
    zoom: 85%;
    height: 560px;
}

/* 7th body */
.seventh-body h1{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.seventh-body p{
    font-size: 20px;
    font-weight: 400;
}

.clip img{
    width: 252px;
    margin-left: 30px;
}
/* 8th body */
.eight-body{
    text-align: center;
}

.eight-body h3{
    font-size: 24px;
    font-weight: 700;
}

.bell{
    width: 70px;
}

.bell img{
    width: 30px;
}

/* 9th body */
.nineth-body{
    background-color: #191919;
    text-align: center;
}

.nineth-body p{
    font-size: 16px;
    font-weight: 700;
    color: white;
}

/* 10th body */
.tenth-body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: black;
}

.tenth-body h4{
    font-size: 16px;
    font-weight: 800;
    color: white;
    margin-bottom: 23px;
}

.tenth-body p{
    font-size: 16px;
    font-size: 400;
    color: #B3B3B3;
}

.tenth-body a{
    text-decoration: none;
    color: #B3B3B3;

}

.tenth-body h6{
    color: white;
    font-weight: 400;
}

/* footer */
.last{
    background-color: #191919;
    text-align: center;
}

.last p{
    font-size: 12px;
    font-weight: 400;
    color: white;
    margin-top: 15px;
}

/* arrow */
.arrow{
    position: fixed;
    top: 500px;
    left: 1195px;
}

.arrow img{
    background-color: black;
    padding: 10px;
    border-radius: 100%;
}